body {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  margin: 0;
  background-color: #f4f4f9;
}

.container {
  display: flex;
  gap: 2rem;
}

.left-container div,
.right-container div {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.left-container div {
  max-width: 350px;
  margin-bottom: 2.5em;
}

.right-container div {
  margin-bottom: 0.35em;
}

.left-container div:last-child,
.right-container div:last-child {
  margin-bottom: 0;
}

.container-name {
  text-align: left;
  margin: 0;
}

label {
  float: left;
  margin-bottom: 4px;
}

.input-name {
  display: block;
  text-align: left;
  font-size: 1rem;
  margin: 4px 0;
}

input {
  width: 320px;
  padding: 6px;
}

button {
  padding: 6px 8px;
}

span {
  padding: 2px 6px;
  background-color: buttonface;
  border-radius: 4px;
}
